<section class="container mx-auto flex mb-[100px]">
  <products-filter (filterChange)="onFilterChange($event)"/>
  <div class="ml-[40px] mt-10 flex flex-col z-1">
    <h2 class="font-bold text-2xl font-family color-active">{{ categoryName }} Clothing</h2>
    <div class="flex flex-wrap mt-10 gap-x-[20px] gap-y-[24px]">
      @for (productIn of filteredProducts; track $index) {
        <product-card  class="w-[calc((100%-60px)/4)]" [productIn]="productIn"/>
      }
    </div>
  </div>
</section>
