@import '../../../../assets/styles/variables';

:host {
  display: block;
}

:host ::ng-deep .filter-accordion {
  background: $color-background-white;
  border-left: 1px solid $color-border;
  border-right: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
  border-radius: 0 0 $border-radius-sm $border-radius-sm;
  font-family: $font-family-causten;
  color: $color-text-gray;

  .p-accordionpanel {
    background: $color-background-white;

    .p-accordionheader {
      background: $color-background-white;
      position: relative;

      a {
        background: $color-background-white;
        color: $color-text-gray;
        font-weight: 600;
        font-size: 22px;
        display: flex;
        align-items: center;
        width: 100%;
      }
    }

    &:first-child .p-accordionheader {
      margin-bottom: 42px;
      border-bottom: 1px solid $color-border;
      cursor: auto;

      .p-icon {
        display: none;
      }

      &::before {
        content: '';
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        width: 17px;
        height: 20px;
        background-image: url("data:image/svg+xml,..."); // твой svg
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &:nth-child(5) .p-accordionheader {
      margin-bottom: 22px;
      border-bottom: 0;
    }

    &:not(:first-child)[data-p-active='true'] {
      .p-accordionheader {
        border-bottom: 1px solid $color-border;
      }
    }

    .p-accordioncontent {
      background: $color-background-white;
      color: $color-text-gray;
      overflow: hidden;

      .p-accordioncontent-content {
        background: $color-background-white;
        padding: 0 20px 20px;
      }
    }
  }

  /* Slider */
  .p-slider {
    height: 4px;
    border-radius: 4px;
    background-color: $color-slider-bg;

    .p-slider-range {
      background-color: $color-primary;
    }

    .p-slider-handle {
      background-color: $color-primary;
      border: 2px solid $color-primary;
    }
  }
}
