@use 'variables' as *;

:host {
  display: block;
}

:host ::ng-deep .p-accordion {
  background: $color-background-white;
  border-left: 1px solid $color-border;
  border-right: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
  border-radius: 0 0 $border-radius-sm $border-radius-sm;
  font-family: $font-family-causten;
  font-weight: bold;
  color: $color-text-gray;

  .p-accordionpanel {
    background: $color-background-white;

    .p-accordionheader {
      background: $color-background-white;
      font-size: 22px;
      letter-spacing: 0.02em;
      color: #807d7e;
      position: relative;

      a {
        background: $color-background-white;
        color: $color-text-gray;
        font-weight: 600;
        font-size: 22px;
        display: flex;
        align-items: center;
        width: 100%;
      }
    }

    &:first-child .p-accordionheader {
      margin-bottom: 42px;
      border-bottom: 1px solid $color-border;
      cursor: auto;

      .p-icon {
        display: none;
      }

      &::before {
        content: '';
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        width: 17px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='20' viewBox='0 0 17 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.83333 6.33333L2.83333 1.75M2.83333 18.25L2.83333 10M13.8333 18.25L13.8333 10M8.33333 18.25V13.6667M8.33333 10V1.75M13.8333 6.33333L13.8333 1.75M1 6.33333H4.66667M6.5 13.6667H10.1667M12 6.33333L15.6667 6.33333' stroke='%23807D7E' stroke-width='1.8' stroke-linecap='round'/%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &:nth-child(5) .p-accordionheader {
      border-bottom: 0;
    }

    &:not(:first-child)[data-p-active='true'] {
      .p-accordionheader {
        border-bottom: 1px solid $color-border;
        margin-bottom: 32px;
      }
    }

    .p-accordioncontent {
      background: $color-background-white;
      color: $color-text-gray;
      overflow: hidden;

      .p-accordioncontent-content {
        background: $color-background-white;
        padding: 0 20px 20px;
      }
    }
  }

  /* Slider */
  .p-slider {
    height: 4px;
    border-radius: 4px;
    background-color: $color-slider-bg;

    .p-slider-range {
      background-color: $color-primary;
    }

    .p-slider-handle {
      background-color: $color-primary;
      border: 2px solid $color-primary;
      width: 20px;
      height: 20px;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &:hover,
      &:focus {
        background-color: #7c3aed;
        border-color: #7c3aed;
        transform: scale(1.2);
        transition: all 0.3s ease-in-out;
        box-shadow: 0 0 0 4px rgba(168, 85, 247, 0.2);
      }

      &::before {
        content: '';
        background-color: #7c3aed;
        transition: all 0.3s ease-in-out;
      }

      &:hover::before {
        background-color: #7c3aed;
        border-color: #7c3aed;
        transform: scale(1.2);
        box-shadow: 0 0 0 4px rgba(168, 85, 247, 0.2);
      }
    }
  }
}

.category-item-wrapper {
  position: relative;

  button.active {
    background: rgba(168, 85, 247, 0.12) !important;
    color: #8a33fd !important;
  }
}
