::ng-deep .p-select-overlay .p-select-option-selected.p-focus,
::ng-deep .p-select-overlay .p-select-option-selected:hover {
  background-color: rgba(138, 51, 253, 0.78) !important;
  color: white;
}

::ng-deep .p-select-overlay .p-select-option[data-p-highlight="true"] {
  background-color: rgba(138, 51, 253, 0.8) !important;
  color: white !important;
}
